/* ///////////cardCSS/////////// */

.card-wrapper {
    font-family: 'Lato', sans-serif;
    max-width: 1100px;
    width: 95%;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.623);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: white;

}

.card-wrapper img {
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
    width: 100%;
    height: auto;
    object-position: center;
}

.img-select {
    display: flex;
    justify-content: start;
    align-items: center;

}

.img-item {
    cursor: pointer;
    margin: 0.3rem;
    width: 15%;
    aspect-ratio: 1/1;
    overflow: hidden;
}


.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {

    padding-inline: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.486);
    font-weight: 600;
    color: rgb(61, 61, 61);

}

.productWeight,
.productdetail,
.lastRow {
    justify-content: space-between;
    /* gap: 30px; */
    margin-block: 8px;
    line-height: 20px;
}

.product-content span {
    color: black;
    color: #2e2001;
    font-weight: 400;
}

/* 
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 0rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
} */

@media screen and (min-width: 634px) {
    .card-wrapper {
        width: 300px;
        background-color: white;
    }

    .cardP {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem; */

        display: flex;
        flex-direction: column;
    }


    .card-wrapper {
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .product-content{
        padding-top: 0;
    } */
}

/* ///////////cardCSS/////////// */

.proCont {
    /* position: relative; */
    /* background-color: red; */
    margin-top: 80px;
}

.pageHeading {
    color: #ccab5e;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.479);
    z-index: 5;
    padding-block: 8px;
    padding-inline: 5px;
    justify-content: space-around;
    align-items: center;
    /* text-decoration: underline; */
    margin-bottom: 30px;
    letter-spacing: 2px;
    position: sticky;
    top: 80px;
    /* height: 100px; */
    background-color: white;


}





.productContainer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
}

.rightP img {
    width: 400px;
}




/* For Tablet */
@media screen and (width <=890px) {
    .proCont {

        margin-top: 65px;
    }

    .pageHeading {
        top: 65px;
    }

}



/* ///////////////////////////////////////////////////////////////////////////// */


/* For mobile */

@media screen and (max-width: 700px) {
    .pageHeading h2{
        font-size: 1rem;
    }
    .pageHeading {
        padding-block:15px ;
    }
    .rightP img {
        width: 160px;
    }
}